<th:block>
    <div class="jumbotron col-sm-11 m-auto">
        <h1>Product details:</h1>
        <hr/>
        <form th:action="@{/products/details/{id}(id=${productBindingModel.id})}" method="post" th:object="${productBindingModel}">
            <div class="text-center">
                <img th:src="${productBindingModel.imageUrl}" width="350" height="350" alt="Product">
            </div>
            <div class="form-group">
                <label for="name" class="text-notino">Name</label>
                <input type="text" class="form-control disabled" id="name" placeholder="Name..." name="name" th:field="*{name}" disabled>
            </div>
            <div class="form-group">
                <label for="description" class="text-notino">Description</label>
                <input type="text" class="form-control disabled" id="description" placeholder="Description..." name="description" disabled
                       th:field="*{description}">
            </div>

            <div class="form-group">
                <label for="price" class="text-notino">Price</label>
                <input type="number" class="form-control disabled" id="price" placeholder="Price..." name="price" th:field="*{price}" disabled>
            </div>
            <div class="form-group">
                <label for="productCategory">Category</label>
                <select class="form-control disabled" th:field="*{category}" id="productCategory">
                    <th:block th:each="category : ${T(notino.domain.entities.Category).values()}">
                        <option
                                th:value="${category}"
                                th:text="${category}">
                        </option>
                    </th:block>
                </select>
            </div>
            <hr class="bg-notino hr-2"/>
            <div class="col col-md-12 mt-5">
                <a  th:href="@{/add-order-product/{id}(id=${productBindingModel.id})}" class="btn btn-success">Order</a>
            </div>
        </form>
    </div>
</th:block>