<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-body justify-content-center">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <main class="mt-3">
        <div class="jumbotron bg-light text-center">
            <div class="text-center">
                <img th:src="${product.imageUrl}" width="350" height="350" alt="Product">
            </div>
            <div class="row">
                <div class="col col-md-12 mt-5">
                    <h1 th:text="'Name: ' + ${product.name}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 mt-3">
                    <h4 th:text="'Desciption: ' + ${product.description}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <h4 th:text="'Price: ' + ${product.price}"></h4>
                </div>
            </div>
            <th:block sec:authorize="!hasAnyRole('ROLE_MODERATOR','ROLE_ADMIN')">
            <div class="row">
                <form class="form w-25 mx-auto" th:action="@{/shopping-cart/add-product}" th:method="post">
                    <div class="form-group mx-auto">
                        <label for="quantity" class="font-weight-bold">Quantity</label>
                        <input id="quantity" class="form-control" type="number" min="1" max="15" step="1" name="quantity" />
                    </div>
                    <input type="hidden" name="id" th:value="${product.id}">
                    <button type="submit" class="btn btn-success">Order Product</button>
                </form>
            </div>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                <div class="row">
                    <div class="col col-md-12">
                        <h4><a th:href="@{/products/edit/{id}(id=${product.id})}" th:text="Edit" class="btn btn-success font-weight-bold text-white"></a></h4>
                        <h4><a th:href="@{/products/delete/{id}(id=${product.id})}" th:text="Delete" class="btn btn-danger font-weight-bold text-white"></a></h4>
                    </div>
                </div>
            </th:block>
        </div>
    </main>
    <footer >
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
    </body>
    </html>