<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <div class="jumbotron col-sm-11 m-auto">
        <h1>Delete product:</h1>
        <hr/>
        <form th:action="@{/products/delete/{id}(id=${productBindingModel.id})}" method="post" th:object="${productBindingModel}">
            <th:block th:include="~{fragments/product-form}"></th:block>
        </form>
        <script>
            $("#product-form :input").prop("disabled", true);
            $("#submitButton").text("Delete product!");
            $("#submitButton").addClass("btn btn-pink");
        </script>
    </div>
<footer >
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>