<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-body justify-content-center">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <main>
        <div class="container mt-3">
            <h3 class="h3">All Orders</h3>

            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="order, iter : ${orders}" th:object="${order}">
                    <tr class="row mx-auto">
                        <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                        <td class="col-md-3 text-center" th:text="*{customer.username}"></td>
                        <td class="col-md-3 text-center" th:text="*{#temporals.format(finishedOn, 'dd-MM-yyyy HH:mm') }"></td>
                        <td class="col-md-2 text-center" th:text="*{totalPrice}"></td>
                        <td class="col-md-2 text-center mx-auto">
                            <div class="text-center">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{/orders/all/details/{id}(id=*{id})}" class="btn btn-info">Products</a>
                                </th:block>
                                <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
                                    <a th:href="@{/orders/my/details/{id}(id=*{id})}" class="btn btn-info">Products</a>
                                </th:block>
                            </div>

                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <hr>
    </main>
    <footer >
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
    </body>
    </html>