<th:block>
    <main>
        <div class="container mt-3">
            <h3 class="h3">All Orders</h3>

            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total Price</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="order, iter : ${orders}">
                    <tr>
                        <td scope="col" th:text="${iter.index + 1}"></td>
                        <td scope="col" th:text="${order.id}"></td>
                        <td scope="col" th:text="${order.date}"></td>
                        <td scope="col" th:text="${order.totalPrice}"></td>
                    </tr>

                </th:block>
                </tbody>
            </table>
        </div>
        <hr>
    </main>



</th:block>