<th:block>
    <div class="jumbotron col-sm-11 m-auto">
    <h1>Order product:</h1>
    <hr/>
    <form th:action="@{/add-order-product/{id}(id=${orderProductBindingModel.id})}" method="post" th:object="${orderProductBindingModel}">
        <div class="text-center">
            <img th:src="*{imageUrl}" width="350" height="350" alt="Product">
        </div>
        <div class="form-group">
            <label for="name" class="text-notino">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name..." name="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="price" class="text-notino">Price</label>
            <input type="number" class="form-control" id="price" placeholder="Price..." name="price" th:field="*{price}">
        </div>
        <div class="form-group">
            <label for="quantity" class="text-notino">Quantity</label>
            <input type="number" class="form-control" id="quantity" placeholder="Quantity..." name="quantity" th:field="*{quantity}">
        </div>

        <hr class="bg-notino hr-2"/>
        <div class="button-holder d-flex justify-content-center mb-3">
            <button type="submit" class="btn bg-notino text-white">Buy!</button>
        </div>
    </form>
    </div>
</th:block>