<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-body justify-content-center">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <main>
        <div class="container mt-3">
            <h3 class="h3">All Orders</h3>

            <table class="table mt-3">
                <thead>
                <tr class="row mx-auto">
                    <th class="col-md-1">#</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-2">Total Price</th>
                    <th class="col-md-2">Customer</th>
                    <th class="col-md-2">Order Status</th>
                    <th class="col-md-2">Actions</th>

                </tr>
                </thead>
                <tbody>
                <th:block th:each="order, iter : ${orders}" th:object="${order}">
                    <tr class="row mx-auto">
                        <th class="col-md-1" th:text="${iter.index + 1}"></th>
                        <td class="col-md-2" th:text="*{#temporals.format(date, 'dd-MM-yyyy HH:mm') }"></td>
                        <td class="col-md-2" th:text="*{totalPrice}"></td>
                        <td class="col-md-2" th:text="*{customer.username}"></td>
                        <td class="col-md-2" th:text="*{orderStatus}"></td>
                        <td class="col-md-2">
                            <div>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <th:block th:if="${order.orderStatus.toString()} == 'Pending'">
                                    <a th:href="@{/orders/ship/{id}(id=*{id})}" class="btn btn-pink">Ship order</a>
                                    </th:block>
                                </th:block>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <hr>
    </main>
    <footer >
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
    </body>
    </html>