<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-body justify-content-center">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <main class="mt-3">
        <h1 class="text-center text-dark">All Brands</h1>
        <hr class="hr-2 bg-dark w-75">
        <table class="table table-hover w-75 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-3 text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="brand, iter : ${brands}">

                <tr class="row mx-auto">
                    <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                    <td class="col-md-3 text-center" th:text="${brand.name}"></td>
                    <td class="col-md-3 text-center">
                        <a th:href="@{/brands/edit/{id}(id=${brand.id})}" th:text="Edit" class="btn btn-success font-weight-bold text-white"></a>
                        <a th:href="@{/brands/delete/{id}(id=${brand.id})}" th:text="Delete" class="btn btn-danger font-weight-bold text-white"></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
    </main>
<footer >
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>







