<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-body justify-content-center">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <div>
        <div class="jumbotron bg-forms d-flex justify-content-center text text-center"
             th:object="${userEditBindingModel}">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1 th:text="|Hello, ${username}|"></h1>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Email: ' + *{email}"></h4>
                </div>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'First Name: ' + *{firstName}"></h4>
                </div>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Last Name: ' + *{lastName}"></h4>
                </div>
                <div class="button-holder d-flex justify-content-center mt-3">
                    <a th:href="@{/edit}" class="btn btn-dark">Edit Profile</a>
                </div>
                <div class="button-holder d-flex justify-content-center mt-3">
                <th:block sec:authorize="!hasAnyRole('ROLE_MODERATOR','ROLE_ADMIN')">
                    <a th:href="@{/orders/my}" class="btn btn-info">My Orders</a>
                </th:block>
                </div>
            </div>
        </div>
    </div>
    <footer >
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
    </body>
    </html>