<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-expand-lg navbar-dark bg-notino rounded">
        <a class="navbar-brand nav-link-white" href="#">NORVINA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                    <li sec:authorize="isAnonymous()" class="nav-item active">
                        <a class="nav-link nav-link-white active" th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link nav-link-white active"  th:href="@{/home}">Home</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link nav-link-white active"  th:href="@{/product-add}">Add Product</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link nav-link-white active"  th:href="@{/category-add}">Add Category</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link nav-link-white active"  th:href="@{/shopping-basket}">Shopping Basket</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link nav-link-white active" th:href="@{/logout}">Logout</a>
                    </li>
            </ul>
        </div>
    </nav>
</th:block>