<th:block th:fragment>



    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <li class="nav-item dropdown">
            <a class="nav-link nav-link-white active dropdown" href="#" id="productsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{products/add}">Add Product</a>
                <a class="dropdown-item" th:href="@{products/all-products}">All products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-link-white active dropdown" href="#" id="brandsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{brands/add}">Add Brand</a>
                <a class="dropdown-item" th:href="@{brands/all-brands}">All brands</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-link-white active dropdown" href="#" id="adminToolsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{/all-users}">All users</a>
            </div>
        </li>
    </th:block>
    <li class="nav-item active">
        <div class="dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" id="cartDropdown"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cart
            </a>
            <div class="dropdown-menu" aria-labelledby="cartDropdown">
                <th:block th:each="item : ${#session.getAttribute('shopping-cart')}" th:object="${item}">
                    <div class="dropdown-item" th:text="|*{product.name} x *{quantity}|"></div>
                </th:block>
                <div class="dropdown-divider"></div>
                <div class="text-center">
                    <a th:href="@{/shopping-cart/details}" class="btn btn-dark">Cart</a>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-white active" th:href="@{/user-profile}">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-white active" th:href="@{/logout}">Logout</a>
    </li>

</th:block>