<th:block th:fragment="product-form" th:object="${productBindingModel}">

            <div class="form-group">
                <label for="name" class="text-notino">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name..." name="name" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="description" class="text-notino">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description..." name="description" th:field="*{description}">
            </div>
            <div class="form-group">
                <label for="imageSrc" class="text-notino">Image Link</label>
                <input type="text" class="form-control" id="imageSrc" placeholder="Image Link..." name="imageSrc" >
            </div>
            <div class="form-group">
                <label for="price" class="text-notino">Price</label>
                <input type="number" class="form-control" id="price" placeholder="Price..." name="price" th:field="*{price}">
            </div>
            <div class="form-group">
                <label for="productCategory">Category</label>
                <select class="form-control" th:field="*{category}" id="productCategory">
                    <th:block th:each="category : ${T(notino.domain.entities.Category).values()}">
                        <option
                                th:value="${category}"
                                th:text="${category}">
                        </option>
                    </th:block>
                </select>
            </div>
            <hr class="bg-notino hr-2"/>
    <button type="submit" id="submitButton"></button>

</th:block>