<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>NOTINO</title>
<link rel="stylesheet" th:href="@{css/reset-css.css}">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/style.css}">

</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main class="mt-3">
        <h1 class="text-center text-notino">Add Category</h1>
        <form class="mx-auto w-25" method="post" action="/category-add">
            <div class="form-group">
                <label for="name" class="text-notino">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name..." name="name">
            </div>
            <hr class="bg-exodia hr-2"/>
            <div class="button-holder mt-4 d-flex justify-content-center">
                <button type="submit" class="btn bg-notino text-white">Add Category</button>
            </div>
        </form>

    </main>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>