<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main class="mt-3">
        <hr class="bg-notino hr-2"/>
        <div class="print-container container-fluid">
            <div class="row mb-4 home-container">
                <th:block th:each="product : ${products}">
                    <div class="print-scheduled bg-notino rounded">
                        <h5 class="text-center text-white font-weight-bold py-3 mt-3" th:text="${product.getName()}"></h5>
                        <hr class="bg-white">
                        <h5 class="text-center text-white font-weight-bold py-3 mt-3" th:text="${product.getDescription()}"></h5>
                        <hr class="bg-white">
                        <h5 class="text-center text-white font-weight-bold py-3 mt-3" th:text="${product.getPrice()}"></h5>
                        <hr class="bg-white">
                        <h5 class="text-center text-white font-weight-bold py-3 mt-3" th:text="${product.getCategory().getName()}"></h5>
                        <hr class="bg-white">
                    </div>
                </th:block>
            </div>
        </div>
        <hr class="bg-notino hr-2 mt-5"/>
    </main>
    <footer>
        <div class="container-fluid bg-notino rounded">
            <div class="text-white p-2 text-center">&copy; CopyRight Sanity Web Design Studios 2019. All rights
                reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>